# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.nar
*.ear

# Maven
target/
.mvn/

# IDE
.idea/
*.iml
.vscode/

# Environment / secrets
.env
.env.secrets
*.env.local

# Angular
ui/node_modules/
ui/dist/
ui/.angular/

# Node
node_modules/

# OS
.DS_Store
hs_err_pid*
replay_pid*
